$white: #FFFFFF;
$black: #000000;
$important-red : #E74C3C;
$main-text: #333333;
$secondary-text: #757575;
$offers-green: #08875b;
$important-red2: #FF3C3C;
$footer-bg: #2f2f2f;
$banner-bg: #61cea3;
$icon-bg: #ef3174;
$advertisement-bg: #fa8363;
$header-bg : #191919;
$color-border: rgb(204,204,204);
