@use '../base/' as *;

.footer-secondary {
    background-color: #191919;
    color: #fff;
    width: 100%;
    position: fixed;

    &__container {
        max-width: 87.5rem;
        height: 5rem;
        margin: 0 auto;
        @include flex(column, wrap, center, flex-start);

        p {
            font-size: .825rem;
            font-family: 'Lato', sans-serif;
        }
    }
}