@use '../base/' as *;

.grid-container {
    width: 100%;
    margin: 1.5rem 0;
    padding: 1rem 0;

    .grid-title {
        width: 100%;
        @include flex(row, nowrap, space-between, center);
        margin: 10px 0 20px;
        color: $icon-bg;
        font-weight: 700;
        cursor: pointer;

        border-bottom: 1px solid #ccc;
        padding: 10px 0;

    }

    .grid-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin: 10px 0;
        color: $secondary-text;
        gap: 1rem;

        .grid-item {
            border: 1px solid #ccc;
            padding: 20px 15px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease-in-out;


            .icons {
                transition: all .4s ease;
                transform: scale(0.5);
            }

            &:hover {
                box-shadow: 0 0 10px rgba(235, 158, 127, 0.76);
                border: 2px solid $icon-bg;

                .icons {
                    transform: scale(1);
                    opacity: 1;
                }
            }

            &__content {

                @include flex(column, nowrap, space-between, center);
                gap: .2rem;
                max-width: 100%;
                position: relative;
                height: 100%;

                .icons {
                    position: absolute;
                    left: 0;
                    opacity: 0;

                    svg {
                        width: 2rem;
                        height: 35px;
                        margin-bottom: 0.9375rem;
                        background-color: $icon-bg;
                        color: $white;
                        border-radius: 50%;
                        padding: 0.3125rem;
                    }


                }

                span {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700;
                }

                p {
                    font-weight: 700;
                    word-break: break-all;
                    margin: 1.3rem 0 2rem;
                    font-size: .720rem;
                }

                p,
                strong {
                    font-size: 12px;
                    padding: 5px;
                    height: 3.125rem;
                    line-height: 1.1rem;
                    display: flex;
                    align-items: center;
                }

                h5 {
                    font-size: .75rem;
                    margin: 1rem 0 2rem;
                    color: $secondary-text;
                }

                strong {
                    color: $icon-bg;
                    font-weight: 700;
                    margin: 1rem 0;
                }

                img {
                    height: 200px;
                    object-fit: contain;
                }


                .price {
                    width: 100%;

                    @include flex(row, wrap, center, center);

                    p {
                        width: 100%;
                        text-align: center;
                        font-size: 1.1rem;
                        border: 1px solid #ccc;
                        padding: 15px;
                        letter-spacing: 1px;
                        border-radius: 10px;
                        background-color: $icon-bg;
                        color: $white;
                    }

                    margin-bottom: 10px;
                }

            }
        }
    }


    .slick-next:before,
    .slick-prev:before {
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: $icon-bg;
    }

}