@use '../base/' as *;

.product-content {
    @include flex(column, wrap, center, center);   
    background-color: #FAFAFA;

}

.product-interest__container {
    width: 100%;
    background-color: #FAFAFA;
    margin: 3.25rem 0;

    .product-interest {
        max-width: 87.5rem;
        margin: 0 auto;
        background-color: $white;
        padding: 1rem 2rem;
    }
}